extends layout

block content

  h1=title

  br

  h2= aux_title

  div(style='margin-left:5%')
    form(method='POST' action='')
      div.form-group
        label(for='customer-name') Name:
        input#customer-name.form-control(type='text' placeholder='Enter name' name='name' required='true' value='')
       
        label(for='phone_number') Phone number:
        input#phone_number.form-control(type='test' placeholder='Enter phone number' name='phone' required='true' value='')
        
        label(for='units') Units:
        input#units.form-control(type='text' placeholder='Enter units' name='units' required='true' value='')
      
      button.btn.btn-primary(type='submit') Submit
  